body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1,5;
    font: 15px/1,5 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color: rgb(192, 189, 189);
}

.container{
    width: 40%;
    margin:auto;
    overflow:hidden;
}


header ul{
    margin:0;
    padding:0;

}


header{
    background: #272624;
    color: #ffffff;
    padding-top: 3px;
    min-height: 40px;
    border-bottom: #000000 3px solid;
}

header #branding{
    float: left;
    margin-left: -20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

header #img1{
    height: 150px;
    width: 150px;
}

header a{
    color: #35ec10;
    text-decoration: none;
    text-transform: uppercase;
    font: size 16;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-inner > .carousel-item > .d-block-w-100 {
    padding: 0px;
    margin-right: auto;
    margin-left:260px;
    margin-top: 50px;
    width: 65%;
    height:0px;
  }
  .carousel-control-prev {
      margin-top: 300px;
      margin-left: 250px;
      height: 30px;
      width: 50px;
  }
  .carousel-control-next {
    margin-top: 300px;
    margin-right: 250px;
    height: 30px;
    width: 50px;
}

header nav{
    float: right;
    margin-top: 60px;
}

header li{
    display: inline;
    padding: 0 20px 0 20px;
}
.article{
    margin-top: 20px;
}
.row{
    margin-bottom: 10px;
    padding-left: 10%;
}
#img1{
    width: 300px;
}
#img2{
    width: 300px;
}
#img3{
    width: 300px;
}
.navbar  {
    
    margin-bottom: 10px;

}
.breadcrumb {
    margin-bottom: 10px;
}
.img-thumbnail {
    height: 100px;
    width: 100px;
}



#row2{
    margin: auto;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: auto;
    
}

h5{
    margin-left: 1%;
    
}
.title{
    padding-top: 5px;
    
}
#instagram{
    margin-left: 5%;
}

.mainimg {
   height: 200px;
   width: 90%;
    object-fit: cover;
    object-position: 100% 0;
   margin-right: 5%;
    
    
}


#mainimage{
    margin: 5%;
    width: 100%;
    
    
}

.blackborder{
    border: 3px;
    border-style: solid;
    border-color : black;
   
}
.art_text{
    padding-left: 5%;
}
